* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  --pry-clr: #1f6a4d;
  --accent-clr: #ffdf00;
  --gradient: linear-gradient(90deg, #245b49 0%, #0c9c57 100%);
  --gradient-alt: linear-gradient(90deg, #245b49 70%, #0c9c57 100%);
}

body {
  font-family: "DM Sans", sans-serif;
  color: #333333;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 38px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

small {
  font-size: 14px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.pry-btn {
  font-weight: 500;
  font-family: inherit;
  font-size: 18px;
  color: white;
  background: var(--gradient);
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  width: 346px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.arrow {
  transform: scale(0.7);
  transition: 0.3s;
}

.pry-btn:hover {
  background: var(--gradient-alt);
}

.pry-btn:hover .arrow {
  transform: translateX(20px);
}

.container {
  width: min(1440px, 100vw);
  padding-inline: 2vw;
  margin-inline: auto;
}

.banner {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}

.banner span {
  position: absolute;
  width: 25px;
  right: 0;
  top: 0;
  cursor: pointer;
}

header {
  height: 70px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.logo {
  height: 50px;
}

.hero,
section {
  display: flex;
  align-items: center;
  padding-block: 100px;
  gap: 50px;
}

.hero-left {
  flex-basis: 60%;
}

.hero-right {
  flex-basis: 40%;
}

.hero-left,
.about-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-right {
  flex-basis: 60%;
}

.title {
  position: relative;
  max-width: max-content;
}

.title img {
  position: absolute;
  width: 70px;
  top: -30px;
  left: 50%;
}

.hero-left button {
  margin-top: 20px;
}

.hero-right,
.about-left {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stat {
  position: absolute;
  bottom: 30px;
  left: -40%;
  padding: 20px;
  background: var(--pry-clr);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}

.stat::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: var(--accent-clr);
  z-index: -1;
  filter: blur(50px);
  opacity: 0.5;
}

.stat img {
  padding-right: 20px;
  border-right: 1px solid white;
}

.stat h2 {
  font-weight: 400;
  font-size: 36px;
}

.why {
  width: 100%;
  background: var(--pry-clr);
  overflow: hidden;
  color: white;
  padding-block: 0 !important;
}

.why-left {
  padding-left: 10%;
  padding-block: 30px;
  flex-basis: 60%;
  background-image: url("./images/bg1.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-right {
  flex-basis: 40%;
  min-height: 100%;
  overflow: hidden;
}

.why-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-left h3 {
  margin-bottom: 20px;
}

.why-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.why-item-img {
  width: 68px;
  height: 68px;
  aspect-ratio: 1/1;
  background: var(--accent-clr);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 30px;
}

.expect {
  flex-direction: column;
}

.expect-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.expect-item {
  max-width: 360px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.expect-item span {
  width: 72px;
  height: 72px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient);
  color: var(--accent-clr);
  font-size: 42px;
  font-weight: 700;
}

.list {
  display: flex;
  align-items: center;
  padding: 50px 10%;
  gap: 20px;
  background: #f7c35f33;
}

.list-left,
.list-right {
  flex-basis: 50%;
}

.list-left h3 {
  margin-bottom: 20px;
}

.list-right {
  display: flex;
  justify-content: center;
}

.list-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.list-form input[type="text"],
.list-form input[type="email"],
.list-form select {
  padding-inline: 15px;
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 5px;
  background: white;
  color: #616161;
}

.category-options label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #616161;
}

.category-option-buyer,
.category-option-seller {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  display: none;
}

.list-form button {
  margin-inline: auto;
  margin-top: 30px;
}

.join {
  padding: 50px;
  text-align: center;
  background: var(--pry-clr);
  color: white;
  background-image: url("./images/bg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.join h3 {
  color: var(--accent-clr);
  margin-bottom: 20px;
}

.faqs {
  display: block;
  text-align: center;
}

.faqs h3 {
  margin-bottom: 20px;
}

.faq {
  border: 1px solid var(--pry-clr);
  transition: 0.3s ease-in-out;
  max-height: 50px;
  transform-origin: top;
  overflow: hidden;
  margin-bottom: 20px;
}

.faq .marker::before {
  content: "+";
}

.faq.open {
  max-height: 300px;
}

.faq.open .marker::before {
  content: "-";
}

.faq-head {
  height: 50px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pry-clr);
  color: white;
  cursor: pointer;
}

.faq-head p {
  pointer-events: none;
}

.marker {
  pointer-events: none;
  font-size: 30px;
}

.faq-body {
  padding: 20px;
  text-align: left;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }

  h1 {
    font-size: 44px;
    font-weight: 700;
  }

  h3 {
    font-weight: 700;
    font-size: 27px;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }

  small {
    font-size: 12px;
    font-weight: 400;
  }

  header {
    height: 50px;
    margin-bottom: 20px;
  }

  header img {
    height: 20px;
  }

  .hero {
    flex-direction: column;
  }

  .title img {
    top: -14%;
    left: 70%;
    width: 48px;
  }

  .stat {
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding-inline: 20px;
    height: 84px;
  }

  .stat::before {
    display: none;
  }

  .stat img {
    padding-right: 10px;
    border-right: 1px solid white;
    width: 60px;
  }

  .stat h2 {
    font-weight: 400;
    font-size: 25px;
  }

  .pry-btn {
    font-size: 14px;
    height: 35px;
    width: 240px;
  }

  .hero,
  section {
    padding-block: 30px;
    gap: 50px;
  }

  .about {
    flex-direction: column-reverse;
  }

  .why {
    flex-direction: column;
    gap: 0;
  }

  .why-left {
    padding-left: 0;
    padding-inline: 2vw;
    padding-block: 30px;
  }

  .why-item-img {
    width: 48px;
    height: 48px;
    padding: 10px;
  }

  .expect {
    margin-top: 30px;
    gap: 20px;
  }

  .expect-item {
    margin: 18px;
  }

  .expect-item span {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    font-size: 30px;
  }

  .list {
    flex-direction: column;
  }

  .list h3,
  .expect h3,
  .why h3,
  .about h3 {
    text-align: center;
  }

  .list-left,
  .list-right {
    flex-basis: 100%;
    width: 100%;
  }

  .list-form {
    width: 100%;
  }

  footer {
    flex-direction: column;
    gap: 10px;
  }
}

/* loader */
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
}

.loader img {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 5px 10px lightgray;
}

/* Admin page */
.users {
  display: block;
  overflow-x: scroll;
  scrollbar-width: thin;
}

.users h5 {
  margin-bottom: 30px;
}
/* admin table */
table {
  font-family: "DM Sans", sans-serif;
  border-collapse: collapse;
  width: 100%;
  min-width: 820px;
}

td,
th {
  border: 1px solid #f0f0f0;
  text-align: left;
  padding: 8px;
}

tr th {
  font-weight: 700;
  color: var(--pry-clr);
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

.download-btn {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
